

<!-- RIGHT COLUMN -->
<div class="container">
  
    <div class="row">
      <div class="col">
        <h3>yourRecipe</h3>
            </br>
            </br>
            <h3>Ut enim ad minim veniam, 
            </br>quis nostrud exercitation ullamco</h3>
      </div>
    <!-- LEFT COLUMN -->
      <div class="col">
          <h3>Not a member?</h3>
          <a href="">signUp</a>
        </br>
        </br>
        <h3>Sign in to yourRecipe.</h3>
        
        <form action="/auth/signin" method="post"></form>
        <label>Username</label>
        <input type="text" name="username" class="form-control" placeholder="username" />
        <label>Password</label>
        <input type="password" name="password" class="form-control" placeholder="*******"/>
        
        <button type="submit" class="btn btn-dark btn-block">Sign In</button>
      </form>
      </div>
    </div>

</div>
