<div class="container">
  <form action="/auth/signin" method="post">
    <div class="row">
      <div class="col">
        <h3>yourRecipe</h3>
            </br>
            </br>
            <h3>Ut enim ad minim veniam, /n quis nostrud exercitation /n ullamco</h3>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Username</label>
        <input type="text" name="username" class="form-control" placeholder="username" />
        <label>Password</label>
        <input type="password" name="password" class="form-control" placeholder="*******"/>
      </div>
    </div>

    <button type="submit" class="btn btn-dark btn-block">Sign In</button>
  </form>
</div>
