<h2>Already a member?</h2>
<a href="">signIn</a>

<h2>Sign up to add yourFirst recipe.</h2>

<form action="/auth/signup" method="post">
  <div>
    <label>Name</label>
    <input name="firstname" placeholder="John" />
  </div>
  <div>
    <label>Username</label>
    <input name="lastname" placeholder="Doe" />
  </div>
  <div>
    <label>Add your location</label>
    <input name="location" type="location" placeholder="Singapore, Singapore" />
  </div>
  <div>
    <label>Email</label>
    <input name="email" type="email" placeholder="john.doe@email.com" />
  </div>
  <div>
    <label>Password</label>
    <input name="password" type="password" placeholder="********" />
  </div>

  <button type="submit">Create Account</button>
</form>
