<!-- GLOBAL CREATE FORM -->
<!-- RIGHT COLUMN -->
<div class="container">
  
    <form action="/global/create" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="col">
          <h3>your —</h3>
              </br>
              </br>
              <h3>Global Recipe</h3>
          <label>Upload an Image</label>
          <input type="file" name="image" accept="image/png, image/jpg" class="form-control" required />
          
        </div>
      <!-- LEFT COLUMN -->
        <div class="col">
            
          <!-- dropdown of options: korean, american recipe -->
          <label>Category</label>
          <select name="category" class="form-control" required>
            <option value="" selected disabled hidden>Select a category</option>
            <option value="korean">Korean</option>
            <option value="american">American</option>
          </select>
          
          <label>Name</label>
          <input type="text" name="name" class="form-control" placeholder="Bibimbap" required />
  
          <label>Yield</label>
          <input type="text" name="yield" class="form-control" placeholder="Serves 4 pax" required />
  
      <div class="listIngredient">
        <label>Ingredient</label>
        <div class="row mb-2" data-id="0">
          <div class="col-10">
            <input name="ingredients[0]" data-id="0" class="form-control" placeholder="1/4 cup grated onion" required />
          </div>
          <div class="col-2"></div>
        </div>
      </div>
      <button id="addIngredient" class="btn btn-primary">Add Ingredient</button>
  
      <p>Instructions</p>
      <div class="listStep">
        <label>Step 1:</label>
        <div class="row mb-2" data-id="0">
          <div class="col-10">
            <input name="instructions[0]" data-id="0" class="form-control" placeholder="Preheat broiler to high." required />
          </div>
          <div class="col-2"></div>
        </div>
      </div>
      <button id="addStep" class="btn btn-primary">Add Step</button>
  
          <button type="submit" class="btn btn-dark btn-block">Create Recipe</button>
        
        </div>
      </div>
    </form>
  
  </div>
  