<!-- Show main categories -->
<div class="container">
    <div class="row align-items-start banner bannerOne d-flex">
      
      
      <button class="quickNsimple">start with Quick & Simple recipes</button>

    </div>
    <div class="row align-items-center">
      
        Healthy

      
        One of three columns

      
        One of three columns

    </div>
    <div class="row align-items-end">
      
        Global

      
        One of three columns

      
        One of three columns

    </div>
  </div>