<!-- Show main categories -->
<div class="container">
    <div class="row align-items-end categoryImg bannerOne mt-5 w-100">
    <div>
      <a href="/quick/create" class="btn btn-lg btn-light mb-2 ml-2">add a Quick & Simple recipe</a>
      </div>
    </div>
    
    <div class="row align-items-end categoryImg bannerTwo mt-5 w-100">
    <div>
      <a href="/healthy/create" class="btn btn-lg btn-light mb-2 ml-2">add a Healthy recipe</a>
      </div>
    </div>

    <div class="row align-items-end categoryImg bannerThree mt-5 mb-5
    w-100">
    <div>
    <a href="/global/create" class="btn btn-lg btn-light mb-2 ml-2">add a Global recipe</a>
    </div>

    </div>
  </div>

  